@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wdth,wght@75..125,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Encode Sans", sans-serif;
  scroll-behavior: smooth;
}

.navbar {
  transition: all 0.5s ease-in-out;
}

.nav-link {
  color: #fff;
  position: relative;
}

.nav-link:hover,
.nav-link.active {
  color: #fff;
}

.nav-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: #fbd40d;
  visibility: hidden;
  transition: 0.4s ease-in-out;
}

.nav-link:hover::before,
.nav-link.active::before {
  width: 100%;
  visibility: visible;
}

.nav-link.nav-link.active {
  color: #fbd40d;
}

.landing-page {
  background: linear-gradient(to right, #006B5E, #007DA4);
  color: white; 
  height: 100%;
  position: relative;
}

.landing-page .wave {
  position: absolute;
  width: 100%;
  height: 143px;
  bottom: 0;
  left: 0;
  background: url(/image/wave2.png);
  animation: animate 10s linear infinite;
}

@keyframes animate {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 1360px;
  }
}

@keyframes animate-reverse {
  0% {
    background-position: 1360px;
  }
  100% {
    background-position: 0;
  }
}

.landing-page .wave:before {
  content: '';
  width: 100%;
  height: 143px;
  background: url(/image/wave2.png);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.4;
  animation: animate-reverse 10s linear infinite;
}

.landing-page .wave:after {
  content: '';
  width: 100%;
  height: 143px;
  background: url(/image/wave2.png);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.6;
  animation-delay: -5s;
  animation: animate 20s linear infinite;
}

.landing-page .img-container {
  z-index: 1;
}

.landing-page .jumbotron-text {
  z-index: 1;
}

@media (max-width: 768px){
  .jumbotron {
    flex-direction: column; /* Mengubah tata letak menjadi kolom saat lebar layar maksimum 768px */
    align-items: center; /* Pusatkan elemen di tengah secara horizontal saat berada dalam mode responsif */
  }

  .jumbotron img {
    margin-top: 10px; /* Menambahkan margin atas agar gambar terpisah dari teks saat berada di bawah */
  }
}

.responsive-img {
  width: 100%;
  max-width: 455px;
  height: auto;
}

/* img, jumbotron-text */
@media screen and (max-width: 768px) and (min-width: 320px) {
  img.responsive-img {
    margin-bottom: 50px;
  }

  .jumbotron-text {
    margin-top: 120px;
  }
}

@media screen and (max-width: 1024px) and (min-width: 768px){
  img.responsive-img {
    margin-bottom: 50px;
  }

  .jumbotron-text {
    margin-top: 120px;
  }
}

@media screen and (max-width: 1440px) and (min-width: 1024px){
  img.responsive-img {
    margin-top: 150px;
    margin-left: 50px;
    max-width: 790px;
  }

  .jumbotron-text {
    margin-top: 170px;
  }
}

@media screen and (max-width: 2560px) and (min-width: 1440px){
  img.responsive-img {
    margin-top: 150px;
    margin-left: 60px;
  }

  .jumbotron-text {
    margin-top: 170px;
  }
}
/* img, jumbotron-text */


/* backgorund landing-page */
/* @media screen and (min-width: 768px){
  .landing-page {
    height: 990px;
  }
} */

@media screen and (min-width: 1024px) {
  .landing-page {
    height: 655px;
  }
}

@media screen and (min-width: 1440px) {
  .landing-page {
    height: 765px;
  }
}
/* background landing-page */

.jumbotron-text h1 {
  font-family: "Poppins", sans-serif;
  font-size: 45px;
  font-weight: 600;
}

.jumbotron-text h6 {
  color: #fbd40d;
}

.jumbotron-text {
  max-width: 70%;
}

.img-container {
  max-width: 100%;
}

.btn-warning {
  background-color: #fbd40d !important;
  border: 0;
  color: #fff;
}

.btn-warning:focus {
  background-color: #fbd40d !important;
  color: #fff !important;
}

.btn-warning:hover {
  background-color: #e3be06 !important;
  color: #fff;
}

.navigasi-scroll {
  background: rgb(0, 125, 164, 0.9);
  padding: 0;
}

@media(max-width: 991px) {
  .sidebar {
    background: rgb(0, 125, 164, 0.9);
  }
}

.border-yellow {
  border-color: #fbd40d !important;
}

#Btntop {
  position: fixed;
  bottom: 17px;
  right: 17px;
  z-index: 1;
  cursor: pointer;
  display: none;
}

.btn-yellow-dark {
  background-color: #eacd3b !important;
  border: 0;
  color: #fff;
}

.btn-yellow-dark:focus {
  background-color: #eacd3b !important;
  color: #fff !important;
}

.btn-yellow-dark:hover {
  background-color: #fbd40d !important;
  color: #fff;
}

.progress-container {
  position: relative;
}

.progress-percent {
  float: right;
}

.zoom img{
  transform: scale(1);
  transition: 0.3s ease-in-out;
}

.zoom {
  overflow: hidden;
}

.zoom:hover img{
  transform: scale(1.1);
}

.card-img-top {
  height: 360px;
}

.my-photo {
  width: 400px;
  border-radius: 5%;
  max-height: 400px;
  pointer-events: none;
}

.btn-primary-contact{
  background-color: #007DA2 !important;  
  border: 0 !important;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  min-width: 50px;
  min-height: 50px;
}

.btn-primary-contact:focus {
  background-color: #007DA2 !important;
}

.btn-primary-contact:hover{
  background-color: #007DA2 !important;
}

.progress-bar {
  background-color: #007DA2 !important;
}
